.ui.form.add-album-form {
  .album-inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .fields {
    margin: 0;
  }
  .album-avatar {
    position: relative;
    height: 150px;
    width: 100%;
    padding: 0 !important;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .album-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
}

.albums {
  margin: 50px;
  h1 {
    border-bottom: 1px solid $border-grey-light;
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-size: 40px;
  }
}

.album-item {
  text-align: center;
  .avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    margin: auto;
  }
  h3 {
    color: $font-grey;
  }
}

.album {
  margin: 50px;
}

.album-header {
  display: flex;
  .image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.album-info {
  margin-left: 20px;
  h1 {
    font-size: 35px;
  }

  span {
    color: $light;
  }
}

.album-songs {
  margin-top: 40px;
}
