.ui.form.add-song-form {
  .song-upload {
    height: 100px;
    width: 100%;
    background-color: $background-grey-light;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      height: 100%;
      font-size: 40px;
      display: flex;
      align-items: center;
    }

    i.load {
      color: $primary-color;
    }

    > div {
      margin-left: 20px;
    }
    p {
      margin: 0;
      &:first-of-type {
        margin-bottom: 5px;
      }

      span {
        color: $primary-color;
      }
    }
  }
}

.song-slider-list {
  .slick-prev {
    left: -25px;
  }
  .slick-next {
    right: -25px;
  }
}

.song-item {
  padding: 20px;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover i {
      opacity: 1;
    }
  }

  i {
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  i:before {
    font-size: 50px;
    color: $light;
  }

  h3 {
    color: $font-grey;
    margin-top: 10px;
    font-size: 16px;
  }
}
