.settings {
  margin: 50px 100px 0 100px;

  h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

.avatar-name {
  display: flex;
  align-items: center;

  .user-avatar {
    margin: 0;
    border: 2px dashed #9a9a9a;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    .ui.image {
      width: 100px;
      border-radius: 500px;
    }
  }
}

.user-name {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin: 0 20px;
  }
}
